#grid-container {
    background-color: lightgray;
    display: grid;
    /* will have to target below to change css as column number changes */
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 700px;
    height: 700px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.gridBox {
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1px;
}

.gridBoxHover {
    background-color: red;
}